<%
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end
 %>

<html>
  <body>
    <h1>This is the header</h1>
    <p>
      <%= link_to("A link to the 'me' page", "me.html") %>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>
      <%= link_to("Another link to the 'me' page", "me.html") %>
      </p>
    </div>
  </body>
</html>